The included message needs moderator approval to be posted to {{ list_name }}.

To approve this message, reply to this email or send an email to {{ control_address }} with subject:

        {{ approve_command }}

To reject this message, send an email to {{ control_address }} with subject:

        {{ reject_command }}

If no action has been taken in {{ moderation_days }} days, the message will be automatically rejected.
